  <ion-content>
    <!-- our list and list items -->






<style>
/*
@import url('http://fonts.googleapis.com/css?family=Pacifico|Open+Sans:300,400,600');
* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}
a {
  text-decoration: none;
  color: inherit;
}
p {
  font-size: 1.1em;
  margin: 1em 0;
}

.description {
  margin: 1em auto 2.25em;
}

h1 {
  font-family: 'Pacifico', cursive;
  font-weight: 400;
  font-size: 2.5em;
}
*/
ul {
  list-style: none;
  padding: 0;
}
.inner {
  display: none;
}

ul li a.toggle {

  padding-left: .75em;
  border-radius: 0.15em;
  transition: background .3s ease;
}
ul ul{
	padding-left: 20px;
}
ul li a.toggle:hover {
  background: offwhite;
}

.task{
	border-bottom: 1px dotted rgb(228, 228, 228);
	border-width: 1px;
	border-style: none none dotted;
}
.mdl-checkbox{
	width: auto !important;
}
.accordion{
	width: 100%;
}
.toggle{	
	text-align: left;
	vertical-align: top;
}

.accordion .mdl-button{
	height: auto !important;
}
.scroll{
	height: 100%;
}
.mdl-textfield--floating-label.is-focused .mdl-textfield__label, .mdl-textfield--floating-label.is-dirty .mdl-textfield__label, .mdl-textfield--floating-label.has-placeholder .mdl-textfield__label{
	color: white !important;
}

.mdl-textfield__input{
	background: white;
}

.accordion a{
	display: inline;
}
.accordion label{
	display: inline;
}

</style>



<ul class="accordion mdl-card mdl-shadow--2dp" id="tasks" style="margin-bottom:85px; padding-left: 10px;">
  <li class="mdl-card--border" ng-repeat="task in tasks">
    

	<div class="task">
	  <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" style="width:10px">
	     <input type="checkbox" id="{{task.title}}" class="mdl-checkbox__input" />
	  </label>

	   <a class="toggle mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="javascript:void(0);">
    	{{task.title}}
    	</a>

    	<a class="material-icons">mode_edit</a> 
    	<a class="material-icons">library_add</a>

    </div>
    <ul my-recursive-dir="task" style="display: none;"></ul>
    </li>
</ul>



<div class="mdl-grid newtask" style="position:fixed;bottom:0;width:100%; z-index:991; height:85px;background:#46B6AC;">
	
	
  <div class="mdl-cell mdl-cell--3-col-phone mdl-cell--7-col-tablet mdl-cell--11-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="margin:0;height: 85px;">
    <input class="mdl-textfield__input" type="text" id="sample3" style="width:100%" ng-model="newtask.title">
    <label class="mdl-textfield__label" for="sample3">New task under "hello world"</label>
    	<a style="float:right;color:white" id="more">More options</a>

      <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="{{book}}" ng-repeat="book in selectedBooks()">
        <input type="radio" id="windows" class="mdl-radio__button" name="options" ng-model="newtask.book" ng-value="book" ng-checked="$index == 0" />
        <span class="mdl-radio__label" >{{book}}</span>
      </label>


  </div>
  	




  <div class="mdl-cell mdl-cell--1-col">

   <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" style="margin-top:19px; background:white;"ng-click="createTask(newtask.book,newtask.title)">
  	ADD
  	</button>

  </div>


  	
  	<div class="moreop inner">
  		
  	</div>

</div>












<script type="text/javascript">
$(document).on("click", "#more", function(e) {



  	if ($(this).hasClass('show')) {
  		  $( ".newtask" ).animate({
		    height: $( ".newtask" ).height()-70
		  } );
		  alert("hehe")
		  $(this).toggleClass('show');


  	}else{
  		alert("hehe2")
  		  $( ".newtask" ).animate({
		    height: $( ".newtask" ).height()+100
		  } );
		  $(this).toggleClass('show');

  	}

  		



});



$(document).on("click", ".toggle", function(e) {
  	e.preventDefault();
//  	alert($this)
    var $this = $(this).parent();
  
    if ($this.next().hasClass('show')) {
        $this.next().removeClass('show');
        $this.next().slideUp(350);
    } else {
        $this.parent().parent().find('li .inner').removeClass('show');
        $this.parent().parent().find('li .inner').slideUp(350);
        $this.next().toggleClass('show');
        $this.next().slideToggle(350);
    }
});

</script>




  </ion-content>