  <ion-content>
    <!-- our list and list items -->
    <ion-list>
      <ion-item ng-repeat="todobook in todobooks">
        {{todobook.name}}
      </ion-item>
    </ion-list>
	<a href=".#/todobooks/new">Create a new todobook!</a>
  

  <style>
.demo-card-wide{
	width: 100%;
	min-height: 0px;
}
.demo-card-wide > .mdl-card__title {
  color: #fff;
  height: 176px;
  background: url('https://getmdl.io/assets/demos/welcome_card.jpg') center / cover;
}
.demo-card-wide > .mdl-card__menu {
  color: #fff;
}
.addbook{
	margin-left: auto;
	margin-right: auto;
}
</style>

<div class="mdl-grid">

  <div class="mdl-cell mdl-cell--4-col" ng-repeat="todobook in todobooks">


	<div class="demo-card-wide mdl-card mdl-shadow--2dp">
	  <div class="mdl-card__title">
	    <h2 class="mdl-card__title-text">{{todobook.name}}</h2>
	  </div>
	  <div class="mdl-card__supporting-text" ng-if="todobook.description">
	    {{todobook.description}}
	  </div>
	  <!--div class="mdl-card__actions mdl-card--border">
	    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
	      Get Started
	    </a>
	  </div-->
	  <div class="mdl-card__menu">

	    <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">  
		   <i class="material-icons">mode_edit</i>
	    </button>

	    <div class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect mdl-js-checkbox">  
		   <input type="checkbox" name="todobook" class="mdl-checkbox__input" checked>
	    </div>
	      	    


	  </div>
	</div>
  </div>

  <button class="addbook mdl-cell mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
    <i class="material-icons">playlist_add</i> Add another todobook
  </button>
	    
<button onclick="alert(JSON.stringify(document.querySelectorAll('input[name=todobook]:checked')));" class="addbook mdl-cell mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
  Done
</button>

<script type="text/javascript">
alert("hola")
//  alert(JSON.stringify(document.querySelectorAll('input[name=todobook]:checked')));
</script>
   

</div>




  </ion-content>
